/* Add here all your CSS customizations */
@media only screen and (max-width: 769px) {
    .feature-box-info.pl-0 {
        display: none!important;
    }
    .header-row .d-none {
        display: block!important;
    }
    .feature-box ul.social li a {
        padding: 11px!important;
    }
    .feature-box .social {
        padding: 0!important;
        display: block!important;
    }
}
.feature-box .social {
    display: inherit;
}
.feature-box-info.pl-0 {
    border-left: 2px solid #0088cc;
    padding-left: 15px!important;
    margin-left: 25px;
}

.sticky-header-active .feature-box-info.pl-0 {
    padding-top: 8px!important;
}

ul.header-extra-info {
    height: 100%;
}
.need-help .closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
}
#header .header-column .header-extra-info li {
    display: inline-flex;
    margin-left: 12px;
}
.header-body {
    background: #212529!important;
}
.text-5 {
    font-size: 1.80em !important;
}
.feature-box-info.pl-0 p {
    color: white!important;
}
.feature-box-info .text2 {
    font-weight: 700!important;
}
.header-extra-info .m-0 {
    height: 100%;
}
.d-none.d-sm-inline-flex.order-1.order-lg-2.ml-2 {
    height: 100%;
    align-items: center;
}

.feature-box-info.pl-0 {
    height: 74%;
    padding-top: 20px;
}
.feature-box ul.social li a {
    padding: 15px;
    line-height: 1;
}
.feature-box ul.social a {
    color:white!important;
}

@media only screen and (max-width: 992px) {
    .mobile-hide {display: none!important;}
}
@media only screen and (min-width: 992px) {
    .desktop-hide {display: none!important;}
}

.intro .col-3.pr-0 {
    z-index: 1;
}

.intro .owl-carousel-init {
    border: 4px solid white;
    height: auto;
    box-shadow: 0 0 9px #00000038;
}

.analysis-img-shadow {
    box-shadow: 0 0 13px #000000b3;
}
.analysis-active {
    box-shadow: 0 0 13px #28a745!important;
}


.range-slider {
    margin: 60px 0 0 0;
    width: 100%;
}
.range-slider .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}

.range-slider ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

.range-slider input::-moz-focus-inner,
.range-slider input::-moz-focus-outer {
    border: 0;
}
